:root { 
    --color-background1:#282a36;
    --color-background2:rgb(0, 0, 0, 0.1);
    --color-links:rgb(59, 158, 238);
    --color-background-card: #4079C6;

}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: var(--color-background1);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}

body a {
    text-decoration: none;
    color: white;
}



header{
text-align: center;

background: rgb(0, 0, 0, 0.1);
}
.links{
    text-align: center;
    padding: 20px;
}
.links a {
        padding: 5px;
        font-size: 18px;
}

.links a:hover {
    transition: color 200ms;
    color:var(--color-links);
}

.wrapper {
    text-align: center;
}

.wrapper img {
height: 250px;
margin: 32px;
border-radius: 100%;
border: 2px solid var(--color-links);
}
.wrapper a:hover {
    transition: color 200ms;
    color: var(--color-links);
}

.wrapper h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
}
.wrapper p {
    opacity: 0.8;
    margin-top: 8px;
    font-weight: normal;
}
footer{
    margin-top: 100px;
}
footer a {
    border-bottom: 1px solid var(--color-links);
        
}

.title h1 {
    margin-top: 50px;
    text-align: center;
}

/*=== Cards ===*/

.cards {
    max-width: 800px;
    margin: 0 auto;  
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px ;
}

.card {
    background-color: var(--color-background-card);
    margin-top: 50px;
    cursor: pointer;
}
.card_image-container img {
    width: 100%;
}
.card_content, .card_info {
    padding: 24px;
    margin: 0 auto;
}
.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.card_rate{
    background-color: var(--color-background-card);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
  
}


 .material-icons.md-16 { font-size: 16px;
margin-top: 3px;
 }
/* === MODAL === */

.modal-overlay {

    background-color: rgb(0, 0, 0, 0.7);
width:100%;
height: 100%;
position: fixed;
top: 0;
opacity: 0;
visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;

}

/*=== MODAL.ACTIVE===*/

.modal-overlay.active {
opacity: 1;
visibility: visible;
}


iframe {
    width:100%;
    height: 90%;
    position: absolute;
    top: 5%;
}
