{%extends "layout.njk"%}

{%block head%}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
{%endblock%}

{%block content %}
        <div class="title">
            <h1>Receitas</h1>
        </div>
        <section class="cards">
            
            <div class="card" id ="CkDJ79c-uXA">
                <div class="card_image-container">
                   <img src="https://img.youtube.com/vi/CkDJ79c-uXA/maxresdefault.jpg" alt="">
                </div>
                <div class="card_content">
                   <p>Sonho de padaria </p>
                </div>
                <div class="card_info">
                    <p>16 min</p>
                    <p class="card_rate"> 4 Estrelas
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                    </p>
                </div>            
            </div> 

            <div class="card" id="N80Siv6ClQ0">
                <div class="card_image-container">
                   <img src="https://img.youtube.com/vi/N80Siv6ClQ0/mqdefault.jpg" alt="">
                </div>
                <div class="card_content">
                   <p> Bolo Chiffon </p>
                </div>
                <div class="card_info">
                    <p>7 min</p>
                   
                        <p class="card_rate"> 5 Estrelas
                            <span class="material-icons md-16"> grade </span>
                            <span class="material-icons md-16"> grade </span>
                            <span class="material-icons md-16"> grade </span>
                            <span class="material-icons md-16"> grade </span>
                            <span class="material-icons md-16"> grade </span>
                        </p>
                   
                   
                </div>
            
            </div>       

            <div class="card" id= "hBGqcogtJ1w">
                <div class="card_image-container">
                   <img src="https://img.youtube.com/vi/hBGqcogtJ1w/maxresdefault.jpg" alt="">
                </div>
                <div class="card_content">
                   <p> Panquecas Caseiras</p>
                </div>
                <div class="card_info">
                    <p>14 min</p>
                    <p class="card_rate"> 5 Estrelas
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                    </p>
                </div>
            
            </div>

            <div class="card" id = "ERF3cJvk-78">
                <div class="card_image-container">
                   <img src="https://img.youtube.com/vi/ERF3cJvk-78/maxresdefault.jpg" alt="">
                </div>
                <div class="card_content">
                   <p>Hamburguer Artesanal</p>
                </div>
                <div class="card_info">
                    <p>16 min</p>
                    <p class="card_rate"> 4 Estrelas
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                    </p>
                </div>
            
            </div>

            <div class="card" id ="OrJLSCUAv5M">
                <div class="card_image-container">
                   <img src="https://img.youtube.com/vi/OrJLSCUAv5M/maxresdefault.jpg" alt="">
                </div>
                <div class="card_content">
                   <p>Pizza italiana </p>
                </div>
                <div class="card_info">
                    <p>8 min</p>
                    <p class="card_rate"> 4 Estrelas
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                    </p>
                </div>
            </div>

            <div class="card" id="71E1kREN_F4" >
                <div class="card_image-container">
                   <img src="https://img.youtube.com/vi/71E1kREN_F4/maxresdefault.jpg" alt="">
                </div>
                <div class="card_content">
                   <p>Nhoque: Massa prática</p>
                </div>
                <div class="card_info">
                    <p>7 min</p>
                    <p class="card_rate"> 5 Estrelas
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                        <span class="material-icons md-16"> grade </span>
                    </p>
                </div>
            
            </div>
        </section>
        <div class="modal-overlay ">
            <div class="modal">
                <a class="close-modal">
                    <span class="material-icons">
                        close
                        </span>
                </a>
                <div class="modal-content">
                    <iframe src="https://www.youtube.com/embed/CkDJ79c-uXA" frameborder="0"></iframe><!-- Vídeo Aqui!!-->
                </div>
            </div>
        </div>
    
    <footer>
        <div class="links">
            <a href="https://github.com/gisellenrosa">Github</a>
            <a href="https://www.linkedin.com/in/Gisellerosa">LinkedIn</a>
        </div>
    </footer>
    <script src="scripts.js"></script>
{% endblock %}