{%extends "layout.html"%}

{%block head%}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
   
{%endblock%}

{% block content %}
    <div class="wrapper">
        <img src="/assets/Profile.jpg" alt="Foto de Perfil">
        <h2>Giselle Rosa</h2>
        <p>Front-End Developer Jr. estudante na <a href="https://rocketseat.com.br/" target="_blank" >Rocketseat</a></p>
        <p>Amante de Comida </p>
    </div> 
    
    <footer>
        <div class="links">
            <a href="https://github.com/gisellenrosa">Github</a>
            <a href="https://www.linkedin.com/in/Gisellerosa">LinkedIn</a>
        </div>
    </footer>
{% endblock %}