<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Giselle Rosa</title>
    {%block head %}

    {% endblock %}
    <link rel="stylesheet" href="/style.css">
    
    
</head>
<body>
    <header>
        <div class="links">
            <a href="/">Home</a>
            <a href="/about">Receitas</a>
        </div>
        
    </header>
    {%block content %} {% endblock %}    
</body>
</html>